#noticias-1 {
    margin: 1.5rem 1rem; /* Adiciona margem superior e inferior */
}

.noticias-wraper-1 {
    display: flex; /* Define o contêiner como flexível */
    width: 100%; /* Ocupa toda a largura disponível */
}

#destaque-principal {
    width: 60%; /* Ocupa porcentagem da largura do contêiner */ 
    padding-top: 20%; /* Adiciona espaçamento superior */
    position: relative; /* Permite posicionamento relativo para elementos internos */
    background-color: var(--cor-principal-um); /* Cor de fundo para destaque */
    border: 1px solid rgb(252, 248, 248); /* Borda */
}

#destaque-principal-1 {
    width: 100%; /* Ocupa toda a largura do contêiner pai */
    height: 100%; /* Ocupa toda a altura do contêiner pai */
    background-size: cover; /* Ajusta a imagem de fundo para cobrir o contêiner */
    background-position: center; /* Centraliza a imagem de fundo */
    left: 0; /* Alinha à esquerda */
    top: 0; /* Alinha ao topo */
    position: absolute; /* Permite posicionamento absoluto em relação ao contêiner pai */
    display: flex;
    align-items: flex-end;
    cursor: pointer; /* Altera o cursor para indicar interatividade */
}

#destaque-principal-1 h2 {
    margin: 0; /* Remove margem */
    width: 100%; /* Ocupa toda a largura do contêiner */
    padding: 10px; /* Adiciona espaçamento interno */
    color: var(--primary-text-color); /* Cor do texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhor legibilidade */
}

#destaque-secundario {
    width: 40%; /* Ocupa porcentagem da largura do contêiner */
    display: flex; /* Define o contêiner como flexível */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
}

.destaque-secundario-1 {
    width: 50%; /* Ocupa metade da largura do contêiner pai */
    padding-top: 30%; /* Adiciona espaçamento superior */
    background-size: cover; /* Ajusta a imagem de fundo para cobrir o contêiner */
    background-position: center; /* Centraliza a imagem de fundo */
    border: 1px solid rgb(252, 248, 248); /* Borda */
    background-color: var(--cor-principal-um); /* Cor de fundo */
    position: relative; /* Permite posicionamento relativo para elementos internos */
    cursor: pointer; /* Altera o cursor para indicar interatividade */
}

.destaque-secundario-1 h3, .destaque-terceario-1 h3 {
    padding: 10px; /* Adiciona espaçamento interno */
    color: var(--primary-text-color); /* Cor do texto */
    width: 100%; /* Ocupa toda a largura do contêiner */
    height: 100%; /* Ocupa toda a altura do contêiner */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhor legibilidade */
}

#destaque-terceario {
    width: 100%; /* Ocupa porcentagem da largura do contêiner */
    display: flex; /* Define o contêiner como flexível */
}

.destaque-terceario-1 {
    width: 100%; /* Ocupa metade da largura do contêiner pai */
    padding-top: 10%; /* Adiciona espaçamento superior */
    background-size: cover; /* Ajusta a imagem de fundo para cobrir o contêiner */
    background-position: center; /* Centraliza a imagem de fundo */
    border: 1px solid rgb(252, 248, 248); /* Borda */
    background-color: var(--cor-principal-um); /* Cor de fundo */
    position: relative; /* Permite posicionamento relativo para elementos internos */
    cursor: pointer; /* Altera o cursor para indicar interatividade */
}

