/* Cabeçalho */
#header {
    min-height: 10vh; /* Define a altura mínima do cabeçalho como 90% da altura da viewport */
    border: 0; /* Remove a borda padrão do cabeçalho */
    color: var(--primary-text-color);
    background-color: var(--cor-principal-um);
    margin-bottom: 0.5rem; /* Adiciona uma margem inferior ao cabeçalho */
}

#header-topo {
    padding: 0.5rem 2rem; /* Adiciona um espaçamento interno ao topo do cabeçalho */
    border-bottom: 0.05rem solid var(--cor-linha-divisoria); /* Adiciona uma borda inferior ao topo do cabeçalho */
}

#header-topo p {
    margin-right: 2rem; /* Adiciona uma margem à direita do parágrafo */
    font-size: 1rem; /* Define o tamanho da fonte do parágrafo */
    color: var(--tertiary-text-color); /* Define a cor do texto do parágrafo */
}

.header-apresentacao-itens {
    text-align: center; /* Alinha o texto ao centro */
    margin: 2rem;
}

#header-apresentacao-nome-titulo {
    font-size: 3.5rem;
    color: var(--primary-text-color);
    text-transform: uppercase; /* Transforma o texto em letras maiúsculas */
}

#header-apresentacao-nome-subtitulo {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--cor-principal-seis);
}

.btn-entrar {
    border-radius: 1rem;
    border: 0.05rem solid var(--cor-principal-cinco);
    padding: 0.5rem 1.2rem;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    color: var(--primary-text-color);
    background-color: var(--cor-principal-cinco);
}

.btn-entrar:hover {
    border: 0.05rem solid var(--cor-principal-tres);
    opacity: 0.9;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

#header-navbar {
    border-top: 0.05rem solid var(--cor-linha-divisoria); /* Adiciona uma borda superior ao menu */
    gap: 3rem; /* Adiciona um espaçamento entre os itens do menu */
    text-transform: uppercase; /* Transforma o texto em letras maiúsculas */
    margin: 0 auto; /* Centraliza o menu horizontalmente */
}

#header-navbar a {
    color: var(--primary-text-color); /* Define a cor do texto dos links do menu */
    font-weight: 250; /* Define a espessura da fonte como semi-negrito */
    padding: 0.75rem; /* Adiciona um espaçamento interno aos links do menu */
}

