/* Geral */

/* Variáveis CSS */
:root {
    --cor-principal-um: #264653;
    --cor-principal-dois: #2a9d8f;
    --cor-principal-tres: #f5f5f5;
    --cor-principal-quatro: #e9c46a;
    --cor-principal-cinco: #f4a261;
    --cor-principal-seis: #e76f51;

    --primary-text-color: #FFF;
    --secondary-text-color: #191919;
    --tertiary-text-color: #868686;

    --cor-linha-divisoria: #7b7d81;
    --cor-transparencia: rgba(0, 0, 0, 0.5); 
}

/* Reset de estilos - IMPORTANTE */
* { 
    font-family: "Playfair Display", serif;
    padding: 0; /* Remove padding padrão */
    margin: 0; /* Remove margin padrão */
    box-sizing: border-box; /* Inclui padding e border na largura e altura totais */
}

/* Estilo para o corpo */
body {
    width: 100vw; /* Define a largura do corpo como 100% da largura da viewport */
    height: 100vh; /* Define a altura do corpo como 100% da altura da viewport */
}

h1 {
    font-size: 2.5rem; /* Define o tamanho da fonte */
    font-weight: 800; /* Define o peso da fonte */
}

h2 {
    font-size: 1.7rem; /* Define o tamanho da fonte */
    font-weight: 600; /* Define o peso da fonte */
}

h3 {
    font-size: 1.3rem; /* Define o tamanho da fonte */
    font-weight: 500; /* Define o peso da fonte */
}

p {
    font-size: 1rem; /* Define o tamanho da fonte */
    font-weight: 300; /* Define o peso da fonte */
}

.flex {
    display: flex; /* Define o layout como flexível */
}

.flex-center {
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    align-content: center; /* Centraliza o conteúdo quando há múltiplas linhas de itens flexíveis */
}

.flex-between {
    justify-content: space-between; /* Distribui os elementos com espaço entre eles */
    align-items: center; /* Alinha os elementos verticalmente ao centro */
    align-content: center; /* Centraliza o conteúdo quando há múltiplas linhas de itens flexíveis */
}

.width-100 {
    width: 100%; /* Define a largura como 100% */
}

/* Estilo para links e botões */
button { 
    font-family: "Merriweather", serif;
    text-decoration: none; /* Remove sublinhado padrão de links e botões */
}

/* Estilo para imagens */
img { 
    max-width: 100%;
    display: block;
}

/* Estilo para ícones */
i {
    background-color: var(--cor-principal-dois);
    color: var(--primary-text-color);
    font-size: 2.5rem;
    padding: 2rem;
}

@media (max-width: 768px) {

    .flex {
        flex-direction: column; /* Alinha os itens em coluna para telas menores */
    }
}


