#noticias-2 {
    width: 95%;
    margin: 2rem 0;
}

#noticias-wraper-2 {
    display: grid; /* Define o contêiner como grid */
    grid-template-columns: repeat(4, minmax(220px, 1fr)); /* Define quatro colunas com largura mínima de 220px e máxima de 1fr */
    gap: 3rem; /* Espaçamento entre os itens do grid */
    width: min(1200px, calc(100% - 32px));
    margin: 0 auto; /* Centraliza o contêiner na página */
    box-sizing: border-box; /* Inclui o padding e a borda na largura e altura totais */
}

.noticias-por-editoria {
    flex-direction: column; /* Organiza os itens em coluna */
    text-align: center; /* Alinha o texto ao centro */
}

.noticias-por-editoria h2 {
    position: relative;
    display: flex;
    color: var(--cor-principal-seis); /* Cor do texto */
    letter-spacing: 0.04em; /* Espaçamento entre letras */
}

.noticias-por-editoria h2::after {
    content: ""; /* Conteúdo vazio para o pseudo-elemento */
    position: absolute; /* Posicionamento absoluto em relação ao elemento pai */
    width: 100%; /* Ocupa toda a largura do elemento pai */
    height: 2px; /* Define a altura da linha */
    background-color: var(--cor-principal-seis); /* Cor de fundo */
    border-radius: 2px; /* Arredonda os cantos da borda */
}

.noticias-por-editoria-1 {
    margin: 0.5rem 0;
    box-sizing: border-box;
}

#noticias-por-editoria-1 h3 {
    padding: 10px; /* Adiciona espaçamento interno */
    color: var(--primary-text-color); /* Cor do texto */
    height: 100%; /* Ocupa toda a altura do contêiner */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhor legibilidade */
}


