#noticias-1 {
    margin: 1.5rem 1rem; /* Adiciona margem superior e inferior */
}

#carrossel-destaque-1 {
    width: 60%; /* Ocupa porcentagem da largura do contêiner */ 
    padding-top: 20%; /* Adiciona espaçamento superior */
    position: relative; /* Permite posicionamento relativo para elementos internos */
    background-color: var(--cor-principal-um); /* Cor de fundo para destaque */
    border: 1px solid rgb(252, 248, 248); /* Borda */
}

#carrossel-destaque-1-item {
    height: 100%; /* Ocupa toda a altura do contêiner pai */
    background-size: cover; /* Ajusta a imagem de fundo para cobrir o contêiner */
    background-position: center; /* Centraliza a imagem de fundo */
    left: 0; /* Alinha à esquerda */
    top: 0; /* Alinha ao topo */
    position: absolute; /* Permite posicionamento absoluto em relação ao contêiner pai */
    align-items: flex-end;
    cursor: pointer; /* Altera o cursor para indicar interatividade */
}

#carrossel-destaque-1-item h2 {
    margin: 0; /* Remove margem */
    padding: 10px; /* Adiciona espaçamento interno */
    color: var(--primary-text-color); /* Cor do texto */
    background-color: var(--cor-transparencia); /* Fundo semi-transparente para melhor legibilidade */
}

#carrossel-destaque-2 {
    width: 40%; /* Ocupa porcentagem da largura do contêiner */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
}

.carrossel-destaque-2-itens {
    width: 50%; /* Ocupa metade da largura do contêiner pai */
    padding-top: 30%; /* Adiciona espaçamento superior */
    background-size: cover; /* Ajusta a imagem de fundo para cobrir o contêiner */
    background-position: center; /* Centraliza a imagem de fundo */
    border: 1px solid rgb(252, 248, 248); /* Borda */
    background-color: var(--cor-principal-um); /* Cor de fundo */
    position: relative; /* Permite posicionamento relativo para elementos internos */
    cursor: pointer; /* Altera o cursor para indicar interatividade */
}

.carrossel-destaque-2-itens h3, .carrossel-destaque-3-itens h3 {
    padding: 10px; /* Adiciona espaçamento interno */
    color: var(--primary-text-color); /* Cor do texto */
    height: 100%; /* Ocupa toda a altura do contêiner */
    background-color: var(--cor-transparencia); /* Fundo semi-transparente para melhor legibilidade */
}

.carrossel-destaque-3-itens {
    padding-top: 10%; /* Adiciona espaçamento superior */
    background-size: cover; /* Ajusta a imagem de fundo para cobrir o contêiner */
    background-position: center; /* Centraliza a imagem de fundo */
    border: 1px solid rgb(252, 248, 248); /* Borda */
    background-color: var(--cor-principal-um); /* Cor de fundo */
    position: relative; /* Permite posicionamento relativo para elementos internos */
    cursor: pointer; /* Altera o cursor para indicar interatividade */
}

@media (max-width: 768px) {

    #destaque-principal, #destaque-secundario {
        width: 100%; 
    }

    .destaque-secundario-1 {
        width: 100%; 
    }
}


